<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="img/ACNE.ico"/>
    <title>Jeu Environnemental</title>
</head>
<template name="layout">
  <body>
    <main>
      <div class="container">
      {{> Template.dynamic template=corps}}
      </div>
    </main>

    <footer class="page-footer blue-grey">
      <div class="row">
        <div class="container">
          <div class="col l6 s12">
            <h5 class="white-text">Premier Test sur les systèmes de timing</h5>
            <p class="grey-text text-lighten-4">Comment peut-on déclencher différents systèmes de timing ?</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Tous les tests ici présents sont voués à devenir réalité - mazars.kevin[at]gmail.com
        </div>
      </div>
    </footer>
  </body>
</template>