<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Jeu Environnemental</title>
</head>
<template name="layout">
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Moteur de Jeu</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Menu</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a href="#">Menu</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">Menu</i></a>
      </div>
    </nav>
    <main>
      {{> Template.dynamic template=corps}}
    </main>
    <footer class="page-footer blue-grey">
      <div class="container">
        <div class="col l6 s12">
          <h5 class="white-text">Premier Test sur les systèmes de timing</h5>
          <p class="grey-text text-lighten-4">Comment peut-on déclencher différents systèmes de timing ?</p>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Tous les tests ici présents sont voués à devenir réalité - mazars.kevin[at]gmail.com
        </div>
      </div>
    </footer>
  </body>
</template>